# Timezone
TZ=Asia/Jakarta

# MariaDB
MARIADB_ROOT_PASSWORD=admin

# PostgreSQL
POSTGRES_PASSWORD=admin

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# Registry
REGISTRY_USER=admin
REGISTRY_PASSWORD=admin
